body {
    background-image: url("bg.png");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 15px;
}

a {
    display: inline-block;
    text-decoration: none;
}

input {
    outline: none !important;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-weight: 700;
}

section #formHolder {
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.brand {
    border: 2px solid #fff;
    border-right: none;
    padding: 40px;
    border-radius: 4px 0 0 4px;
    min-height: 480px;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
    z-index: 2;
}

.brand:active {
    width: 100%;
}

.brand::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.brand a.logo img {
    width: 60px;
}

.brand .heading {
    position: absolute;
    bottom: 30px;
    width: 80%;
    transition: all 0.6s;
}

.brand .heading.active {
    top: 120px;
    left: 100px;
    text-align: center;
}

.brand .heading h2 {
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
    color: #fff;
}

.brand .heading p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.brand .success-msg {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brand .success-msg p {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

.brand .success-msg a {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 30px;
    background: #00a2e5;
    color: #fff;
    border-radius: 4px;
}

.brand .success-msg p,
.brand .success-msg a {
    transition: all 0.9s;
    transform: translateY(20px);
    opacity: 0;
}

.brand .success-msg p.active,
.brand .success-msg a.active {
    transform: translateY(0);
    opacity: 1;
}

.form {
    position: relative;
    width: 100%;
}

.form .form-piece {
    border-radius: 0 4px 4px 0;
    background: #222c3c;
    min-height: 480px;
    color: #96a2b6;
    padding: 60px 0;
    position: relative;
    width: 100%;
    transition: all 0.6s cubic-bezier(1, -0.375, 0.285, 0.995);
}

.form form {
    padding: 0 40px;
    margin: 0;
}

.form form .form-heading h2 {
    margin: 0 0 20px;
    font-size: 30px;
    color: #fff;
}

.form form .form-group {
    margin-bottom: 25px;
    position: relative;
}

.form form label {
    font-size: 12px;
    font-weight: 400;
    transform: translateY(30px);
    transition: all 0.3s;
    cursor: text;
}

.form form label.active {
    transform: translateY(5px);
    font-size: 10px;
}

.form form input:not([type=submit]) {
    background: none;
    border: none;
    border-bottom: 1px solid #96a2b6;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    font-size: 15px;
}

.form form input[type=password] {
    color: #fff;
}

.form form .form-group.hasError input {
    border-color: #f95959;
}

.form form span.error {
    color: #f95959;
    font-size: 12px;
    position: absolute;
    bottom: -18px;
    right: 0;
    display: none;
}

.form form .CTA {
    margin-top: 30px;
}

.form form .CTA input {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 30px;
    background: #00a2e5;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.form form .CTA a.switch {
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    color: #96a2b6;
    text-decoration: underline;
    transition: all 0.3s;
}

.form form .CTA a.switch:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .container{
        overflow: hidden;
    }
    section#formHolder {
        padding: 0;
    }
    section#formHolder div.brand{
        min-height: 300px !important;
    }
    section#formHolder div.brand.active{
        min-height: 100vh !important;
    }
    section#formHolder div.brand .heading.active{
        top: 200px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    section#formHolder div.brand .success-msg{
        font-size: 16px;
    }
    section#formHolder div.brand .success-msg a{
        padding: 5px 30px;
        font-size: 10px;
    }
    section#formHolder .form{
        width: 80vw;
        min-height: 500px;
    }
    section#formHolder .form .form-piece{
        margin: 0;
        top: 0;
        left: 0;
        width: 100% !important;
        transition: all 0.5s ease-in-out;
    }
    section#formHolder .form .form-piece.switched{
        transform: translateY(-100%);
        width: 100%;
        left: 0;
    }
    section#formHolder .form .form-piece >form {
        width: 100% !important;
        padding: 40px;
        left: 50%;
    }
}